# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# dotenv environment variables
.env
.env.*
SomaAI-backend.env

# VS Code settings (optional)
.vscode/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/